.comment-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 2fr auto;
  grid-gap: 1rem;
}

.comment-form--reply {
  display: grid;
  grid-gap: 1rem;
}

.comment-form__title {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
  color: var(--secondary-dark-blue);
  grid-column: 1 / -1;
}

.comment-form__text-area {
  grid-column: 1 / -1;
  outline-color: var(--primary-blue);

  resize: none;
  background-color: var(--secondary-white);
  border: none;
  border-radius: 0.5em;
  padding: 1em;
}

.comment-form__text-area::placeholder {
  color: #8c92b3;
}

.comment-form__char-remain {
  align-self: center;
  font-size: 0.8125rem;
  color: var(--secondary-grayish-blue);
}

.comment-form__submit-btn {
  color: var(--secondary-pale-moon);
  background-color: var(--primary-purple);
  font-weight: 700;
  justify-self: end;
  padding: 0.66rem 1rem;
  font-size: 0.8125rem;
}

.comment-form__submit-btn:hover {
  background: var(--secondary-purple);
}

@media (max-width: 375px) {
  .comment-form__char-remain {
    justify-self: end;
    grid-column: 1 / -1;
  }

  .comment-form__submit-btn {
    grid-column: 1 / -1;
  }
}

@media (min-width: 768px) {
  .comment-form__text-area,
  .comment-form__char-remain,
  .comment-form__submit-btn {
    font-size: 0.9375rem;
  }
}
