.Roadmap__header {
  background-color: var(--primary-dark-blue);
  color: var(--primary-white);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "go-back add-feedback" "title add-feedback";
  justify-items: start;

  border: 1px solid red;
  padding: 1.625rem;
}

.Roadmap__header__btn--go-back {
  grid-area: go-back;
  color: var(--primary-white);
  border-radius: 0.6em;
  text-decoration: none;
  font-weight: 700;
  background-color: transparent;
  gap: 0.75em;
  margin-left: -1em;
}


.Roadmap__header__btn--go-back>.btn__icon {
  /* filter sets left arrow color to #CDD2EE */
  filter: brightness(0) saturate(100%) invert(87%) sepia(6%) saturate(906%) hue-rotate(195deg) brightness(96%) contrast(94%);
}



.Roadmap__header__btn--add-feedback {
  color: var(--primary-white);
  border-radius: 0.6em;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  background-color: var(--primary-purple);
  justify-self: end;
}

.Roadmap__title {
  font-size: 1.25rem;
}

.Roadmap__column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 1.5rem;
  background-color: var(--secondary-white);
}