.feedback-card {
  display: grid;
  grid-template-rows: 1fr 2fr 2fr 2fr;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "title title"
    "description description"
    "category category"
    "upvote comments";
  row-gap: 0.5rem;
  justify-content: center;
  align-items: center;
  justify-items: start;

  padding: 1.5rem;
  border-radius: 0.75rem;
  font-size: 0.875rem;

  background-color: var(--primary-white);
}

.feedback-card__title {
  grid-area: title;
  color: var(--secondary-dark-blue);
  margin: 0;
}

.feedback-card__description {
  grid-area: description;
  color: var(--secondary-grayish-blue);
}

.feedback-card__category {
  grid-area: category;
  background-color: var(--secondary-pale-moon);
  color: var(--primary-blue);
  font-weight: 600;
  padding: 0.5em 1em;
  border-radius: 0.75em;
}

.btn--upvote {
  grid-area: upvote;
  background-color: var(--secondary-pale-moon);
  padding: 0.5em 1em;
  border-radius: 0.75em;
  font-weight: 700;
}

.btn--upvote:not(.btn--upvoted):hover {
  background-color: var(--secondary-dark-moon);
}

.btn--upvoted {
  background-color: var(--primary-blue);
  color: var(--primary-white);
}

.btn--upvoted > .btn__icon {
  /* filter to change svg color to  --secondary-pale-moon: #f2f4ff; */
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2%)
    hue-rotate(278deg) brightness(110%) contrast(101%);
}

.btn--comments {
  grid-area: comments;
  justify-self: end;
  background-color: var(--primary-white);
  padding: 0.5em 1em;
  font-weight: 700;
}
