*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: var(--primary-font);

  padding: 0;
  margin: 0;

  list-style: none;
}

html {
  /* Primary Colors */
  --primary-purple: #ad1fea;
  --primary-blue: #4661e6;
  --primary-dark-blue: #373f68;
  --primary-red: #d73737;
  --primary-white: #ffffff;

  /* Secondary Colors */
  --secondary-grayish-white: #cfd3e2;
  --secondary-pale-moon: #f2f4ff;
  --secondary-dark-moon: #cfd7ff;
  --secondary-white: #f7f8fd;
  --secondary-dark-blue: #3a4374;
  --secondary-grayish-blue: #647196;

  /* Background Colors */
  --background-orange: #f49f85;
  --background-light-blue: #62bcfa;

  /* Fonts */
  --primary-font: "Jost";
}
